body{
    color: #5c3b27;
}
h2{
    size: 12px;
}
#home{
    color: #5c3b27;
}
.titleName{

    position: relative;
    background-image: url('homeContent/sunset.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-clip:content-box;
    
}
.pictureBacked{

    position: relative;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-clip:content-box;
    width:100%;
    height: 60rem;

}
#exp{
    background-image: url('homeContent/widelake.jpg');
}
#cs{
    background-image: url('homeContent/widepond.jpg');
}
#experience{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 60rem;
    
}
.sideshow div{
    color: #5c3b27;
    max-width: 50%;
    width: 50%;
    padding: 30px;
    size: 24px;
    text-align: center;
    background: #FFFFFFBF;
    border-radius: 15px;
    border: 1px solid #000000;
    margin-top:2rem;
    margin-bottom:1rem;
}
.starbs{
    margin-left: 40%;
    text-align: right;
}
.efk{
    margin-left: 4%;
    text-align: left;
}
.gro{
    margin-left: 40%;
    text-align: right;
}
.cadets{
    margin-left: 4%;
    text-align: left;
}
.web{
    margin-left: 40%;
    text-align: right;
}
.emb{
    margin-left: 4%;
    text-align: left;
}
.mgm{
    margin-left: 40%;
    text-align: right;
}
.many{
    margin:4%;
    text-align: left;
}
#csdiv{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 60rem;
    
}
.pictureBacked h1{


}
.titleName{
    width: 100%;
    height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#title{
    color: #5c3b27;
    min-width: 50%;
    size: 24px;
    text-align: center;
    background: #FFFFFF89;
    border-radius: 15px;
    border: 1px solid #000000;
    padding:0px;
    margin-top:20%;
    margin-bottom:25%;
}
.title{
    color: #5c3b27;
    width: 50%;
    max-height:5%;
    size: 24px;
    align-self: center;
    text-align: center;
    background: #FFFFFFBF;
    border-radius: 15px;
    border: 1px solid #000000;
    padding:0px;
    margin-top:4rem;
    margin-bottom:2rem;
}
.textbox{
    color: #7f5539;
    Display: inline-block;
    overflow:auto;
    justify-content: center;
    align-items: center;
    max-width: 45%;
    min-width: 40%;
    padding: 1%;
    border: 2px solid #EDE0D4;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 2%;
    line-height: 50px;
}
.inDivTxt{
    color: #5c3b27;
    Display: inline-block;
    overflow:auto;
    justify-content: center;
    align-items: center;
    padding: 2%;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 2%;
    line-height: 50px;
}
.inDivTxt h3{
    margin: 0 3%;
}
