*{
    padding: 0px;
    margin: 0px;
    font-family: 'Didact Gothic';
}
html{
    scroll-behavior: smooth;
}
ul{
    display: inline-block;
    padding: 15px;
    list-style: none;
}
li{
    text-align: center;
}
a{
    color:#f7dba7;
    text-decoration: none;
}
#menubutton{
    width: 32px;
    height:32px;
    position: fixed;
    top: 20px;
}
#menuBut{
    top: 10px;
    float: left;
    
    padding: 2%;
    border: none;
    background: none;
}
#menuBar li{
    
}
#menuBar{
    max-width: 150px;
    width: auto;
    max-height: 10%;
    background-color: #C57B578B;
    border: 1px solid #C57B57;
    border-radius: 15px;
    position: sticky;
    top: 15px;
    
}
.hidden{
    display: hidden;
}
body{
    font-family: 'Didact Gothic';
    color: #f7dba7;
    background-color: #1E2D2F;
    text-align: center;
    border: 0px;
    padding: 0px;
    margin: 0px;
}
h2{
    size: 12px;
}
.header{

    position: relative;
    background-image: url('homeContent/sunset.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-clip:content-box;
    
}
.titleName{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#title{
    min-width: 50%;
    size: 24px;
    text-align: center;
    background: #424B5499;
    border-radius: 15px;
    border: 3px solid #F1AB86;
    padding:0px;
    margin-top:20%;
    margin-bottom:25%;
}
.splitContainer{
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
}
.splitLeft, .splitRight{
    
    Display: inline-block;
    overflow:auto;
    justify-content: center;
    align-items: center;
    max-width: 45%;
    min-width: 40%;
    padding: 1%;
    background: #424B5434;
    border: 3px solid #F1AB86;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 2%;
}
.splitRight{
    float: right;
    line-height: 50px;
}
.splitLeft{
    float: left; 
    line-height: 50px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C57B57;
    align-items: last baseline;
    padding: 1%;
}

.footer a{
    width: 32px;
    
}
#bottomimg{
    width: 32px;
    height:32px;
}