html{
    color: #E6CCB2;
    overflow-x: hidden;
}
#proj{
    color:#5c3b27;
}
h2{
    size: 1.5rem;
}
body{
    position: relative;
    background-color: #EDE0D4;
}
#title{
    min-width: 50%;
    size: 24px;
    text-align: center;
    background: #424B5499;
    border-radius: 15px;
    border: 3px solid #F1AB86;
    padding:0px;
    margin-top:20%;
    margin-bottom:25%;
}
.titleName{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    color: #5c3b27;
    width: 50%;
    max-height:5%;
    size: 24px;
    align-self: center;
    text-align: center;
    background: #B08968EE;
    border-radius: 15px;
    border: 1px solid #000000;
    padding:0.5rem 0;
    margin-top:6rem;
    margin-bottom:2rem;

}
.projects{
    padding: 1rem 0;
    align-content: center;
    width: 100vw;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
}

.project{
    min-width:90vw;
    height: auto;
    margin: 5vw 5vw;
    border:solid 2px #7F5539;
    border-radius: 15px;
    background-color: #B08968EE;
}
.projImg{
    max-width: 80%;
    max-height: auto;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid #7F5539;
    margin: 2rem;
}
.blueprojImg{
    max-width: 80%;
    max-height: auto;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid #7F5539;
    margin: 2rem;

}
.project a{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.gitlink{
    width: 32px;
    height: auto;
    padding: 15px;
}
.project h2{
    margin: 0;
    padding: 1rem 0.5rem;
}
.project h3{
    margin: 0;
    padding: 1rem 0.5rem;
}