

h2{
    size: 12px;
}
body{

    position: relative;
    background-image: url('homeContent/widepond.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-clip:content-box;
    
}
.titleName{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#title{
    min-width: 50%;
    size: 24px;
    text-align: center;
    background: #424B5499;
    border-radius: 15px;
    border: 3px solid #F1AB86;
    padding:0px;
    margin-top:20%;
    margin-bottom:25%;
}
.splitContainer{
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
}
.splitLeft, .splitRight{
    
    Display: inline-block;
    overflow:auto;
    justify-content: center;
    align-items: center;
    max-width: 45%;
    min-width: 40%;
    padding: 1%;
    background: #424B5434;
    border: 3px solid #F1AB86;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 2%;
}
.splitRight{
    float: right;
    line-height: 50px;
}
.splitLeft{
    float: left; 
    line-height: 50px;
}

